<form method="POST">
    <strong>Name:</strong><input name='name' type='text'>
    <br><br>
    <strong>Email:</strong><input name='email' type="email">
    <br><br>
    <strong>Website URL:</strong><input name='website_URL' type='text'>
    <br><br>
    <strong>Profile Picture:</strong><input name='profile_pic' type='text'>
    <br><br>
    <button>Add User</button>
</form>