<form method="POST">
  New user name:</br>
  <input type="text" name="name" value="Full Name"></br>
  Email:</br>
  <input type='text' name='email' value='email'></br>
  <input type="submit" value='submit'>
</form>