<form method="POST">
  New post:</br>
  User id:</br>
  <input type="text" name="users_id" value="Please enter user id"></br>
  name:</br>
  <input type='text' name='name' value='Full Name'></br>
  title:</br>
  <input type='text' name='title' value='Title of Blog'></br>
  content:</br>
  <input type='text' name='content' value='Enter Post'></br>
  <input type="submit" value='submit'>
</form>