<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>add new user</title>
</head>
<body>
  <form action="/addUser" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="about">About</label>
    <input type="text" name="about" id="about" required>
    <br>
    <label for="url">URL</label>
    <input type="text" name="url" id="url" required>
    <br>
    <label for="img_link">Image Link</label>
    <input type="text" name="img_link" id="img_link" required>
    <br>

    <input type="submit" value="submit">
  </form>
</body>
</html>