<form method="POST">
 New user name:<br>
 <input name="name" type="text" >
  <br><br>
  E-mail:<br>
  <input name="email" type="text">
  <br><br>
  Website:<br>
 <input name="website" type="text" >  
 <br><br>
 Photo:<br>
 <input name="photo" type="text" >  
 <br><br>


  <button>Submit</button>
</form>

